---
layout: archive
title: "Participation and Excellence"
permalink: /talks/
author_profile: true
---

<hr>

<ol>
  <li>ABU Asia-Pacific Robot Contest (ABU Robocon) 2020</li>
  <li>ABU Asia-Pacific Robot Contest (ABU Robocon) 2021</li>
  <li>eYantra Robotics Competition (eYRC) 2020</li>
  <li>eYyantra Robotics Competition (eYRC) 2021</li>
  <li>eYantra Robotics Competition (eYRC) 2022</li>
  <li>KPIT Sparkle 2021</li>
  <li>Submitted a proposal to the Science and Engineering Research Board (SERB), a statutory board established by the Government of India through the SERB Act 2008. The proposal is for a core research grant to fund the project titled "Design and analysis of a real-time intelligent system for self-driving cars using video object segmentation and depth perception.</li>
</ol>

<hr>

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}


---

1. ABU Asia-Pacific Robot Contest (ABU Robocon) 2020
2. ABU Asia-Pacific Robot Contest (ABU Robocon) 2021
3. eYantra Robotics Competition (eYRC) 2020
4. eYyantra Robotics Competition (eYRC) 2021
5. eYantra Robotics Competition (eYRC) 2022
6. KPIT sparkle 2021
7. submitted a proposal to the Science and Engineering Research Board (SERB), a statutory board established by the Government of India through the SERB Act 2008. The proposal is for a core research grant to fund the project titled "Design and analysis of a real-time intelligent system for self-driving cars using video object segmentation and depth perception.

---
